version: "3"
services:
  app:
    container_name: regions-blockchain
    restart: always
    build: .
    ports:
      - "3001:3001"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports: 
      - "27018:27018"
  
